.highlight{ 
	-fx-background-color: red;
}
.center{
	-fx-alignment: center;
}
.archived{
	-fx-background-color: lightgray;
}
.disabled{
	-fx-background-color: lightgray; 
}

.detailbtn{
	-fx-graphic:url(buttons/detailbtn.png);
}

.pursuebtn{
	-fx-graphic:url(buttons/pursuebtn.png);
}

.folderbtn{
	-fx-graphic:url(buttons/folderbtn.png);
}