.highlight{ 
	-fx-background-color: red;
}
.center{
	-fx-alignment: center;
}
.archived{
	-fx-background-color: lightgray;
}
.disabled{
	-fx-background-color: lightgray; 
}

.detailbtn{
	-fx-graphic:url(images/detailbtn.png);
}

.pursuebtn{
	-fx-graphic:url(images/pursuebtn.png);
}

.folderbtn{
	-fx-graphic:url(images/folderbtn.png);
}

.duplicatebtn{
	-fx-graphic:url(images/duplicate.png);
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}